//价格颜色/亮点颜色
$gPriceColor: #f3402b;
//通用字体大小
$gFontSize: 28rpx;
//背景颜色
$gBgColor: #f2f2f2;
$gBgLightColor: #f8f8f8;
//字体灰色
$gFontGrayColor: #7e7e7e;
//阴影白色用的
$gShadowWhiteColor: 0 6px 18px 0 rgb(60 70 79 / 10%);
// 弹性布局
@mixin normalFlex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
// 定位，垂直居中
@mixin normalAbsolute(
  $left: 50%,
  $top: 50%,
  $translate: translate(-50%, -50%)
) {
  position: absolute;
  left: $left;
  top: $top;
  transform: $translate;
}

@mixin normalBox($background: #fff) {
  margin: 20rpx;
  padding: 30rpx;
  background-color: $background;
  border-radius: 20rpx;
}
.title {
  font-weight: bold;
  font-size: 36rpx;
  padding-left: 20rpx;
}
