//泡泡动画
@keyframes bubbleMove {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  50% {
    transform: translate(10%, -1000%);
  }

  75% {
    transform: translate(-20%, -1200%);
  }

  99% {
    opacity: 0.9;
  }

  100% {
    transform: translateY(-1800%) scale(1.5);
    opacity: 0;
  }
}
//svg描边动画
@keyframes stroke {
  from {
    fill: none;
  }
  to {
    stroke-width: 0;
    stroke-dashoffset: 0;
  }
}
