$curTheme: "light";

$themes: (
  light: (
    loginBgColor: linear-gradient(to right, rgb(191, 227, 241), rgb(170 221 241))
  ),
  dark: (
    loginBgColor: transparent
  )
);

@mixin useTheme() {
  @each $key, $value in $themes {
    $curTheme: $key !global;
    // html[data-theme="#{$key}"] & {
    html.#{$key} & {
      @content;
    }
  }
}

@function getVar($paramName) {
  $themeMap: map-get($themes, $curTheme);
  @return map-get($themeMap, $paramName);
}
